
  $main: #403f4c;
  $highlight: #FCA311;
  $dark: #2C2B3C;

.App {
  text-align: center;
  background-color: $main;
  color:$dark;
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cards-list{
  flex-wrap: wrap;
}

a{
  color:$highlight;
  :active{
    color:$highlight;
  }
}

.highlight{
  color:$highlight;
}